body {
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.logo{
    color:#31708f;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 26px;
}

.navbar-logo{
    float: left;
    height: 50px;
    padding: 15px 15px 15px 0px;
    line-height: 20px;
}

.width-300px{
    width: 300px;
}

.width-200px{
    width: 200px;
}

.width-500px{
    width: 500px;
}

.space-20{
    height: 20px;
}
a.back-to-top {
    display: none;
    width: 60px;
    height: 60px;
    text-indent: -9999px;
    position: fixed;
    z-index: 999;
    left: 20px;
    bottom: 20px;
    background: #27AE61 url("../img/up-arrow.png") no-repeat center 43%;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}