<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title th:text="${producer.name != null} ? 'Producer: ' + ${producer.name} : 'New producer'"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--<link rel="icon" type="image/png" th:href="@{/resources/static/img/favico.png}" />-->
    <link rel="stylesheet" media="screen" th:href="@{/static/css/bootstrap.min.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/static/css/main.css}" />
    <script th:src="@{/static/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">

    <div class="page-header">
        <h1 th:text="'Producer: ' + ${producer.name}"> </h1>
        <th:block th:if="${msg != null}">
            <div th:replace="fragments/alert :: alert (type=${msgType}, message=${msg})">Alert</div>
        </th:block>
    </div>

    <div class="width-300px">
        <div class="form-group">
            <label for="id">id:</label>
            <span id="id" th:text="${producer.Id}"></span>
        </div>

        <div class="form-group">
            <label for="name">Producer name:</label>
            <span id="name" th:text="${producer.name}"></span>
        </div>

        <div class="form-group">
            <label for="url">URL:</label>
            <a id="url" th:text="${producer.url}" th:href="${producer.url}"></a>
        </div>
        <div class="form-group">
            <label for="tor">Time of registration:</label>
            <span id="tor" th:text="${producer.timeOfRegistration != null} ? ${#temporals.format(producer.timeOfRegistration, 'dd.MM.yyyy HH:mm')} : 'N/a'"/>
        </div>


        <div class="form-group">
             <a role="button" class="btn btn-default" href="javascript:history.back()"><span class="glyphicon glyphicon-arrow-left"></span> Back</a>
        </div>
</div>
    <div th:replace="fragments/footer :: footer"></div>
</div>

</body>
</html>